.header-nav-list {
    margin: 0 -12px;
    @include media-breakpoint-up(xxl) {
        margin: 0 -30px;
    }

    .header-nav-item {
        margin: 0 12px;
        @include media-breakpoint-up(xxl) {
            margin: 0 30px;
        }

        .header-nav-link {
            border-bottom: 2px solid currentColor;
            color: $c-purple;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                border-bottom-color: transparent;
                color: $c-purple;
                text-decoration: none;
            }
        }
    }
}