.gallery-block {
    position: relative;
    .gallery-header-container,
    .gallery-controls-container {
        margin-bottom: 15px;
    }

    .gallery-header-container {
        @include media-breakpoint-up(sm) {
            min-height: 35px;
            margin-right: 150px;
        }
    }

    .gallery-controls-container {
        @include media-breakpoint-up(sm) {
            position: absolute;
            z-index: 9;
            top: 0;
            right: 0;
        }
    }

    .gallery-description {
        font-size: 16px;
        line-height: 20px;
        @include media-breakpoint-up(lg) {
            font-size: 17px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 20px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 22px;
            line-height: 25px;
        }
    }
}