html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    padding-top: 50px;
    font-family: Tahoma, Arial, serif;
}

h1 {
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.dnone {
    display: none !important;
}

/* Top navbar */
.navbar-fixed-top .project {
    text-align: center;
}

.navbar-fixed-top .project .navbar-brand {
    float: none;
    display: inline-block;
}

.navbar-fixed-top {
    line-height: 20px;
}

/* Columns for view structure */
.structure-columns-container {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
}

.structure-columns-container > * {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 1em;
}

.structure-columns-container .content-wrapper {
    padding-left: 1em;
    padding-right: 0.5em;
}

.main-content {
    padding-bottom: 55px;
}

@media screen and (max-width: 1366px) {
    .main-content {
        font-size: 12px;
    }
}

/* Errors block for validations */
.validation-errors {
    color: #A94442;
}

/* Pagination */
.pagination-container {
    text-align: center;
    overflow: hidden;
    padding: 5px 10px;
}

.pagination-container .pagination {
    margin: 0;
}

.pagination-container .pagination-limit {
    float: right;
}

.pagination-container .pagination-limit .form-control {
    display: inline-block;
    height: 28px;
    margin-left: 1em;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: 6em;
}

.dark-tabs .tab-content > .tab-pane {
    border: 1px solid #797979;
    border-top: 0;
    padding: 10px 10px 0;
    border-radius: 0 0 4px 4px;
}

.dark-tabs .nav-tabs {
    border-color: #797979;
}

.dark-tabs .nav-tabs > li.active > a,
.dark-tabs .nav-tabs > li.active > a:hover,
.dark-tabs .nav-tabs > li.active > a:focus {
    border-color: #797979 #797979 transparent;
}

.dashed-list-container {
    border: 1px dashed;
    margin-top: -10px;
    padding: 1em;
}

.dashed-list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Fixed bottom block with actions */

.action-bar {
    background: #fff linear-gradient(to bottom, #fff 0px, #e0e0e0 100%) repeat-x scroll 0 0;
    border-right: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    bottom: 0;
    margin-left: -14px;
    margin-bottom: 0;
    padding: 8px 8px 5px 14px;
    position: fixed;
    width: 100%;
    z-index: 1030;
    text-align: left;
}

#logotype {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 2px 0;
}

#logotype img {
    height: 37px;
}

.breadcrumb .buttons {
    display: inline-block;
    margin-left: 10px;
}

.inline-block {
    display: inline-block;
}



body.loader-black {
    color: transparent;
    background-image: url('../../images/common/loaders/loading-black.svg');
    background-repeat: no-repeat;
    background-size: auto 20%;
    background-position: center center;
}

body.loader-black * {
    opacity: 0.8;
}
