.offcanvas-navigation {
    margin-top: 15px;
    margin-bottom: 15px;
}

.offcanvas-nav-list {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.offcanvas-nav-item {
    position: relative;

    &.active {
        .offcanvas-nav-link {
            color: $c-secondary;
        }
    }
}

.offcanvas-nav-link {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
}


/* offcanvas subnav */
.offcanvas-subnav-toggle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid rgba($c-white, .1);
    border-radius: 0;
    background: none;
    color: currentColor;

    .offcanvas-subnav-media {
        fill: currentColor;
        transition: transform 300ms ease;
    }

    &.active {
        .offcanvas-subnav-media {
            transform: rotate(-90deg);
        }
    }
}

.offcanvas-subnav-list {
    display: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    background: $c-primary-dark;
    text-align: left;
}

.offcanvas-subnav-item {
    &:not(:last-child) {
        border-bottom: 1px solid rgba($c-secondary, .1);
    }

    &.active {
        .offcanvas-subnav-link {
            color: $c-secondary;
        }
    }
}

.offcanvas-subnav-link {
    display: block;
    width: 100%;
    padding: 12px 15px;
    font-size: 18px;
}